.body {
    background-color: beige;
}



.header {

    &--logo {
        text-decoration: none;

        &__small {
            color: #000;
            font-family: Gilroy;
            font-size: 35px;
            font-weight: 800;
            letter-spacing: -0.7px;

            &::before {
                content: url(../images/Logo\ \(1\).svg);
                padding-right: 8px;
            }

        }

        &__big {
            color: #000;
            font-family: Gilroy-Medium;
            font-size: 35px;
            font-weight: 400;
            letter-spacing: -0.7px;
            text-transform: uppercase;

            &::after {
                content: "®";
                color: #000;
                top: 100px;
                position: relative;
                top: -10px;
                font-family: Gilroy;
                font-size: 25px;
                font-weight: 300;
            }
        }




    }

    & div {
        max-width: 1780px;
        margin: 40px 70px;

        display: flex;
        justify-content: space-between;

    }

    & p {
        color: #252525;
        font-family: Gilroy-SemiBold;
        font-size: 25px;
        font-weight: 400px;
    }

}


.title {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;


    &-1 {
        color: #252525;
        font-family: Gilroy-SemiBold;
        font-size: 150px;
        font-weight: 400px;
        text-transform: uppercase;


    }

    &-2 {
        color: #252525;
        font-family: Gilroy;
        font-size: 150px;
        font-weight: 300px;
        text-transform: capitalize;
    }

    & img {
        text-align: center;
        max-width: 25px;
        max-height: 40px;
    }
}


.about-me {

    max-width: 1920px;


    &--info {
        display: flex;
        justify-content: space-between;
        margin-left: 70px;
        margin-top: 70px;

       

    &__p {
        max-width: 1295px;
            padding: 0;
        color: #252525;
        font-family: Gilroy;
        font-size: 62px;
        font-weight: 300px;
       

        & span {

            font-weight: 800px;
        }
    }
        
        


    }

    &__black-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 60px 70px 60px 90px;
        gap: 30px;
        background-color: #252525;
        width: 585px;
        

        &--white {
            color: #FFF;
            font-family: Gilroy-Medium;
            font-size: 32px;
            font-weight: 400;
            line-height: 32px;
            text-transform: uppercase;
        }

        & img {
            padding-left: 20px;
        }


    }




    & img {
        object-fit: cover;
        max-width: 100%;
    }


}



.logo {
    max-width: 1920px;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-top: 70px;
    padding-bottom: 70px;


    & img {
        border-radius: 50px;
        background: #FFF;
        padding: 15px 40px;
    }
}



.selected-work {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & button {

        width: 220px;
        border-radius: 50px;
        background: #FFF;
        color: #252525;
        font-family: Gilroy-Medium;
        font-size: 18px;
        font-weight: 400;
        padding: 15px 60px;
        margin-top: 70px;
        margin-bottom: 100px;
    }

    & h2 {
        color: #252525;
        text-align: center;
        font-family: Gilroy;
        font-size: 212px;
        font-weight: 300;
        letter-spacing: 8.48px;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
}

.photo-holder {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 567px);
    gap: 70px 40px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    & h3 {
        color: #000;
        font-family: Gilroy-Bold;
        font-size: 40px;
        font-weight: 400;
        line-height: 44px;
        text-transform: uppercase;
    }

    & span {
        display: inline-block;
        color: #252525;
        font-family: Gilroy-Medium;
        font-size: 18px;
        font-weight: 400;
        border-radius: 50px;
        background: #FFF;
        padding: 15px 30px;
        margin-top: 30px;
        margin-right: 30px;
    }

    & div {
        position: relative;
    }


    & button {
        border-radius: 50px;
        background: #252525;
        padding: 10px 30px;
        color: #FFFFFF;
        font-family: Gilroy-Medium;
        font-size: 18px;
        font-weight: 400;
        text-transform: capitalize;
        position: absolute;
        bottom: 0;
        right: 0;


        &::after {
            content: url(../images/Groupgr.svg);
            position: relative;
            margin-left: 10px;
            top: 5px;
        }

    }
}

.h2 {
    color: #252525;
    text-align: center;
    font-family: Gilroy;
    font-size: 112px;
    font-weight: 300;
    letter-spacing: 8.48px;
    text-transform: uppercase;
    margin-bottom: 50px;
}



.team {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 693px);
    gap: 30px 40px;



    & a {
        text-decoration: none;
    }

    & h3 {
        color: #333;
        font-family: Gilroy;
        font-size: 30px;
        font-weight: 800;
        text-transform: uppercase;
    }

    & p {
        padding-bottom: 15px;
        padding-top: 15px;
        color: #333;
        font-family: Gilroy-Medium;
        font-size: 20px;
        font-weight: 400;
    }

    &__img {
        width: 100%;
        height: 507px;
        object-fit: cover;
        filter: grayscale(1);



}




&--last-item-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;

    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

    & h3 {
        color: #333;

        font-family: Gilroy-Regular;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 15px;
    }


    & p {
        color: #333;
        font-family: Gilroy-Bold;
        font-size: 64px;
        font-weight: 400;
        text-transform: uppercase;
    }

    & button {
        border-radius: 50px;
        background: #252525;
        color: #FFFFFF;
        font-family: Gilroy-Medium;
        font-size: 18px;
        font-weight: 400;
        text-transform: capitalize;



        &::after {
            content: url(../images/Groupgr.svg);
            position: relative;
            margin-left: 10px;
            top: 3px;
        }

    }
}



&-ss {
    padding-left: 240px;

    & img {
        margin-left: 10px;
        margin-top: 15px;
    }



}
}













@media (max-width:1200px) {
    .about-me--info {
        flex-direction: column;
        margin-left: 0;

        & p {
            text-align: center;
        }


    }

    .about-me__black-block {
        width: 85%;
    }

    .title-1 {
        text-align: center;
    }

    .body {
        margin-right: 0;
        padding-right: 0;
    }

    .photo-holder {

        grid-template-columns: 1fr;


        & img {
            max-height: 567px;
        }

    }

    .team {

        grid-template-columns: repeat(2, 1fr);
    }

    .team--last-item-grid {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;

    }

}

@media (max-width:768px) {
    .team {

        grid-template-columns: 1fr;
    }

    .team--last-item-grid {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;
    }



}