@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium (1).ttf");
}
@font-face {
  font-family: "Gilroy-Regula";
  src: url("../fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../../fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../fonts/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.ttf");
}
.body {
  background-color: beige;
}

.header--logo {
  text-decoration: none;
}
.header--logo__small {
  color: #000;
  font-family: Gilroy;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -0.7px;
}
.header--logo__small::before {
  content: url(../images/Logo\ \(1\).svg);
  padding-right: 8px;
}
.header--logo__big {
  color: #000;
  font-family: Gilroy-Medium;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: -0.7px;
  text-transform: uppercase;
}
.header--logo__big::after {
  content: "®";
  color: #000;
  top: 100px;
  position: relative;
  top: -10px;
  font-family: Gilroy;
  font-size: 25px;
  font-weight: 300;
}
.header div {
  max-width: 1780px;
  margin: 40px 70px;
  display: flex;
  justify-content: space-between;
}
.header p {
  color: #252525;
  font-family: Gilroy-SemiBold;
  font-size: 25px;
  font-weight: 400px;
}

.title {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}
.title-1 {
  color: #252525;
  font-family: Gilroy-SemiBold;
  font-size: 150px;
  font-weight: 400px;
  text-transform: uppercase;
}
.title-2 {
  color: #252525;
  font-family: Gilroy;
  font-size: 150px;
  font-weight: 300px;
  text-transform: capitalize;
}
.title img {
  text-align: center;
  max-width: 25px;
  max-height: 40px;
}

.about-me {
  max-width: 1920px;
}
.about-me--info {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-top: 70px;
}
.about-me--info__p {
  max-width: 1295px;
  padding: 0;
  color: #252525;
  font-family: Gilroy;
  font-size: 62px;
  font-weight: 300px;
}
.about-me--info__p span {
  font-weight: 800px;
}
.about-me__black-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 60px 70px 60px 90px;
  gap: 30px;
  background-color: #252525;
  width: 585px;
}
.about-me__black-block--white {
  color: #FFF;
  font-family: Gilroy-Medium;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
}
.about-me__black-block img {
  padding-left: 20px;
}
.about-me img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.logo {
  max-width: 1920px;
  background-color: beige;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.logo img {
  border-radius: 50px;
  background: #FFF;
  padding: 15px 40px;
}



.selected-work {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selected-work button {
  width: 220px;
  border-radius: 50px;
  background: #FFF;
  color: #252525;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 60px;
  margin-top: 70px;
  margin-bottom: 100px;
}
.selected-work h2 {
  color: #252525;
  text-align: center;
  font-family: Gilroy;
  font-size: 212px;
  font-weight: 300;
  letter-spacing: 8.48px;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-top: 70px;
}

.photo-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 567px);
  gap: 70px 40px;
}
.photo-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.photo-holder h3 {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 40px;
  font-weight: 400;
  line-height: 44px;
  text-transform: uppercase;
}
.photo-holder span {
  display: inline-block;
  color: #252525;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-weight: 400;
  border-radius: 50px;
  background: #FFF;
  padding: 15px 30px;
  margin-top: 30px;
  margin-right: 30px;
}
.photo-holder div {
  position: relative;
}
.photo-holder button {
  border-radius: 50px;
  background: #252525;
  padding: 10px 30px;
  color: #FFFFFF;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  right: 0;
}
.photo-holder button::after {
  content: url(../images/Groupgr.svg);
  position: relative;
  margin-left: 10px;
  top: 5px;
}

.h2 {
  color: #252525;
  text-align: center;
  font-family: Gilroy;
  font-size: 112px;
  font-weight: 300;
  letter-spacing: 8.48px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 693px);
  gap: 30px 40px;
}
.team a {
  text-decoration: none;
}
.team h3 {
  color: #333;
  font-family: Gilroy;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}
.team p {
  padding-bottom: 15px;
  padding-top: 15px;
  color: #333;
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-weight: 400;
}
.team__img {
  width: 100%;
  height: 507px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
}
.team--last-item-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.team--last-item-grid h3 {
  color: #333;
  font-family: Gilroy-Regular;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.team--last-item-grid p {
  color: #333;
  font-family: Gilroy-Bold;
  font-size: 64px;
  font-weight: 400;
  text-transform: uppercase;
}
.team--last-item-grid button {
  border-radius: 50px;
  background: #252525;
  color: #FFFFFF;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}
.team--last-item-grid button::after {
  content: url(../images/Groupgr.svg);
  position: relative;
  margin-left: 10px;
  top: 3px;
}
.team-ss {
  padding-left: 240px;
}
.team-ss img {
  margin-left: 10px;
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .about-me--info {
    flex-direction: column;
    margin-left: 0;
  }
  .about-me--info p {
    text-align: center;
  }
  .about-me__black-block {
    width: 85%;
  }
  .title-1 {
    text-align: center;
  }
  .body {
    margin-right: 0;
    padding-right: 0;
  }
  .photo-holder {
    grid-template-columns: 1fr;
  }
  .photo-holder img {
    max-height: 567px;
  }
  .team {
    grid-template-columns: repeat(2, 1fr);
  }
  .team--last-item-grid {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}
@media (max-width: 768px) {
  .team {
    grid-template-columns: 1fr;
  }
  .team--last-item-grid {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
  }
}
.g-footer {
  background-color: grey;
}/*# sourceMappingURL=style.css.map */