@import "../stylesheet.css";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #f5f3ea;
}

.section4 {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(37, 37, 37);
  border-bottom: 1px solid rgb(37, 37, 37);
}
.section4 .section4__content {
  display: flex;
}
.section4 .section4__img {
  background-image: url("https://gitlab.com/dan-it/groups/pe-28/-/raw/main/advanced-html-css/step-project/images/what-i-do-bgd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
}
.section4 .section4__block {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.section4 .section4__block .section4__block--item {
  margin-left: 111px;
}
.section4 .section4__block .section4__block--item:last-child {
  margin-bottom: 70px;
}
.section4 h1 {
  color: #252525;
  font-family: "Gilroy";
  font-size: 150px;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 111px;
  margin-bottom: 100px;
  margin-top: 70px;
}
.section4 .section4__title {
  color: #000;
  font-family: Gilroy-SemiBold;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}
.section4 .section4__text {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 10px;
}
.section4 .section4__line {
  width: 759px;
  border: 1px solid #252525;
  margin-top: 40px;
  margin-bottom: 40px;
}

.section6 {
  border-bottom: 1px solid rgb(37, 37, 37);
  padding-bottom: 50px;
}
.section6 .section6__title {
  display: flex;
  justify-content: center;
  color: #252525;
  font-family: Gilroy;
  font-size: 212px;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 50px;
  margin-bottom: 50px;
}
.section6 .section6__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section6 .section6__content--card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 33%;
  box-sizing: border-box;
  padding: 30px 70px;
}
.section6 .section6__content--card img {
  padding-bottom: 30px;
}
.section6 .section6__content--card .section6__title--card {
  padding-bottom: 30px;
  color: #333;
  font-family: Gilroy;
  font-size: 40px;
  font-weight: 800;
  line-height: 44px;
}
.section6 .section6__content--card p {
  padding-bottom: 30px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 30px;
}
.section6 .section6__card--user {
  margin-top: auto;
  display: flex;
}
.section6 .section6__card--user img {
  display: flex;
  padding-right: 20px;
}
.section6 .section6__card--user .section6__card--name {
  padding-top: 10px;
}
.section6 .border-rigth {
  border-right: 1px solid rgb(0, 0, 0);
}
.section6 .border-bottom {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.section8 {
  display: flex;
  padding-top: 50px;
  border-bottom: 1px solid rgb(37, 37, 37);
}
.section8 .section8__tilte {
  color: #333;
  font-family: Gilroy;
  font-size: 155px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 40px;
  margin-left: 70px;
}
.section8 .section8__content {
  margin-right: 70px;
}
.section8 .section8__content--title {
  color: #252525;
  font-family: Gilroy-Bold;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.section8 .section8__content--text {
  color: #252525;
  font-family: Gilroy-Bold;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 30px;
}
.section8 .section8__btn {
  padding-bottom: 100px;
}
.section8 .section8__btn--item {
  cursor: pointer;
  color: #fff;
  padding: 10px 30px;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  border-radius: 50px;
  background: #252525;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}
footer span {
  margin-left: 70px;
  color: #333;
  font-family: Gilroy-SemiBold;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
footer .footer__rigth-section {
  margin-right: 70px;
}
footer .footer__rigth-section img {
  padding-right: 10px;
}
footer .footer__rigth-section .footer__last-img {
  padding-right: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1220px) {
  .section4 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section4 h1 {
    margin-bottom: 40px;
    margin-top: 40px;
    width: 100%;
    margin-left: 30px;
  }
  .section4 .section4__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section4 .section4__img {
    background-image: url("https://gitlab.com/dan-it/groups/pe-28/-/raw/main/advanced-html-css/step-project/images/what-i-do-bgd.jpg");
    height: 991px;
    width: 100%;
  }
  .section4 .section4__block--item:last-child {
    margin-bottom: 40px;
  }
  .section4 .section4__block {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .section4 .section4__block--item {
    margin-left: 30px !important;
  }
  .section6 {
    display: flex;
    flex-direction: column;
  }
  .section6 .section6__content {
    display: flex;
    flex-direction: column;
  }
  .section6 .section6__content .border-rigth {
    border-right: none;
  }
  .section6 .section6__content .border-media {
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  .section6 .section6__title {
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 150px;
  }
  .section8 {
    display: flex;
    flex-direction: column;
  }
  .section8 .section8__wrapper-content {
    width: 100%;
    text-align: center;
  }
  .section8 .section8__tilte {
    margin-right: 0px;
    margin-left: 30px;
    font-size: 150px;
  }
  .section8 .section8__content {
    width: 100%;
    margin-left: 30px;
    text-align: center;
    margin-top: 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .section4 {
    width: 100%;
  }
  .section4 h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 80px;
  }
  .section4 .section4__title {
    font-size: 35px;
  }
  .section4 .section4__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
  }
  .section4 .section4__img {
    background-image: url("https://gitlab.com/dan-it/groups/pe-28/-/raw/main/advanced-html-css/step-project/images/what-i-do-bgd.jpg");
    height: 478px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 20px;
  }
  .section4 .section4__block--item:last-child {
    margin-bottom: 40px;
  }
  .section4 .section4__block {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .section4 .section4__block--item {
    margin-left: 30px !important;
    line-height: 28px;
  }
  .section4 .section4__line {
    width: 0px;
  }
  .section6 {
    display: flex;
    flex-direction: column;
  }
  .section6 .section6__content {
    display: flex;
    flex-direction: column;
  }
  .section6 .section6__content .border-rigth {
    border-right: none;
  }
  .section6 .section6__content .border-media {
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  .section6 .section6__content .section6__content--card {
    padding: 30px 30px;
  }
  .section6 .section6__title {
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 80px;
  }
  .section8 {
    display: flex;
    flex-direction: column;
  }
  .section8 .section8__btn {
    padding-bottom: 50px;
  }
  .section8 .section8__wrapper-content {
    width: 100%;
    text-align: center;
  }
  .section8 .section8__tilte {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 80px;
  }
  .section8 .section8__content {
    width: 100%;
    margin-left: 20px;
    text-align: center;
    margin-top: 30px;
    margin-right: 20px;
  }
  .section8 .section8__btn--item {
    cursor: pointer;
    color: #fff;
    padding: 10px 110px;
  }
  .section8 .section8__btn--item .section8__arrow {
    margin-left: 10px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer span {
    margin-left: 0px;
    margin-bottom: 20px;
  }
  footer .footer__rigth-section {
    margin-right: 0px;
  }
}