@import "reset";

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium\ \(1\).ttf');

}
@font-face {
    font-family: 'Gilroy-Regula';
    src: url('../fonts/Gilroy-Regular.ttf');

}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../../fonts/Gilroy-Bold.ttf');

}
@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../fonts/Gilroy-SemiBold.ttf');

}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.ttf');


}
